@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root{
  --primary-color: whitesmoke;
  --body-color:white;
}

body {
  margin: 0;
  background-color: var(--body-color) ;
  font-family: "Poppins", sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-style-student{
  background-color: var(--primary-color) !important;
  margin-top: 1rem;
  max-width: 88.5%;
  margin-left: 4rem;
}
.card-style-mentor{
  background-color: var(--primary-color) !important;
  margin-top: 1rem;
  max-width: 570px;
  margin-left: 2rem;
}
.form-student{
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
.table-grid{
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 2rem !important;
}
.addMentorForm{
  min-width: 70vh;
  min-height: 60vh;
}